---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Lakshita Jain" description="About Lakshita Jain">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Read below to learn more about me and my background."
			>
				<!-- <img
					width="400"
					src="/assets/tufts.jpeg"
					alt="Students at Tufts University"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I was born in India and raised in Älmhult, a small town in the south of Sweden. I enjoy baking, reading, puzzling, lifting, and being out in nature. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p> I am currently pursuing a BSc in Computer Science & BA Economics at Tufts University School of Engineering in Medford, MA. In 2022, I completed the International Baccalaureate Diploma Programme at Katedralskolan in Lund, Sweden. </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Recent Experiences</h2>
				<div class="content">
					<p>- Teaching Fellow at Center for Engineering Education and Outreach.</p>
					<p>- Developer at Tufts JumboCode.</p>
					<p>- Secretary at Tufts Girl Gains.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
