---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Lakshita Jain" description="About Lakshita Jain">
	<div class="stack gap-20">
		<main class="wrapper about">

			<Hero
				title="About"
				tagline="Here is a little bit about me!"
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I was born in India and raised in Älmhult, a small town in the south of Sweden. In my fun time, I enjoy baking, reading, lifting, puzzling, and exploring. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p> I am currently pursuing a BSc in Computer Science with a minor in Math and Economics at Tufts University School of Engineering in Medford, MA to be completed in Spring 2026. In 2022, I completed the International Baccalaureate Diploma Programme at Katedralskolan in Lund, Sweden. </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Recent Experiences</h2>
				<div class="content">
					<p><b>Spring 2024:</b> I started a new position as a teaching assistant for a course I enjoyed thoroughly the previous Spring - Discrete Math under professor Karen Edwards.<br><br>
					<p><b>Fall 2023:</b> Taking CS and Econ classes including Algorithms, Economic Development, Intro to Security and working at the Tufts Human Interaction Lab as a research assistant. <br><br>
					<p><b>Summer 2023:</b> I spent 6 weeks of my summer in the French Alps through the wonderful Tufts in Talloires program where I took a course in the Sociology of Travel and Tourism and one in Community Health and enjoyed the lovely landscapes.<br><br>
					<b>Spring 2023:</b> Alongside fascinating courses such as Discrete Math and Data Structures, this semester I was actively involved with JumboCode, Tufts Center of Engineering Education and Outreach and GirlGains.</p>
					
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
